contract/ErgoScriptCompiler-assembly-0.1.jar
contract/script_constants_fakeUSD.js
contract/script_constants_SigUSD.js
contract/script_constants.js
contract/test.es
contract/.$Option.drawio.bkp
contract/.$OptionCall.drawio.bkp
contract/build/
contract/node_modules/
contract/.$Option_v2.drawio.dtmp
sigmao-bot/node_modules/
