:root {
  --my-text-color: rgba(255, 255, 255, 0.9);
  --my-bg-gradient: linear-gradient(to bottom right, rgba(98, 144, 238, 0.3), rgba(12, 44, 107, 0.3));
  --my-bg-gradient2: linear-gradient(to right, rgba(15, 7, 107, 0.8), rgba(15, 7, 107, 1), rgba(15, 7, 107, 0.8));
  --my-bg-color1: rgb(30, 44, 73);
  --my-bg-color2: rgb(19, 15, 83);
  --my-bg-color3: rgb(44, 51, 66);
  --my-bg-color4: #13396a;
  --my-bg-yellow: rgba(250, 225, 0, 0.7);
}

.App {
  text-align: start;
  padding: 0;
  align-items: center;
  justify-content: top;
  display: flex;
  flex-direction: column;
  color: var(--my-text-color);
  min-height: 100vh;
  overflow: visible;
  font-family: 'Trebuchet MS', sans-serif;
  background: var(--my-bg-gradient2);
  background-size: 100% 100%;
}

.footer {
  min-height:50px;
}

.page-container { flex:1; }

#navbar {
  overflow: hidden;
  background-color: #030f27;
  top: 0;
  z-index: 1;
}


#nav-dropdown + div {
  background-color: rgba(0, 0, 0, 0.1);
}

.dropdownItem:hover {
  color: rgba(0, 0, 0, 0.1);
}

.table tr {
  border-top-style: hidden !important;
}

h6 h5 {
  text-align: start;
}

.table td {
  padding: 0.25rem;
  vertical-align: middle;
  text-align: left;
}

@import 'sweetalert2/dist/sweetalert2.css';
@import '@sweetalert2/theme-dark/dark.css';

@media (max-width: 600px) {
  .hidden-mobile {
    display: none;
  }

}

.bggrey {
  background: rgba(0, 0, 0, 0.05);
}

.option-card {
  background: rgba(0, 0, 0, 0.1);
  max-width: 20rem;
  border-color: rgba(255, 255, 255, 0.25);
}

.sell-option-card {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(255, 255, 255, 0.25);
}

main{ flex:1; }

.input-dark,
.input-dark:focus {
  background-color: var(--my-bg-color4);
  color: var(--my-text-color);
  border-color: rgba(255, 255, 255, 0.25);
}

.input-dark:hover,
.input-dark:active {
  background-color: var(--my-bg-color4);
  color: var(--my-text-color);
  border-color: rgba(255, 255, 255, 0.8);
}

.zoneaddress {
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
  background: var(--my-bg-gradient);
  color: var(--my-text-color);
}

.zonerequest {
  min-width: 20rem;
  background: var(--my-bg-gradient);
}

.zonegraph {
  background: var(--my-bg-gradient);
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
}

.gold-border {
  border: 3px solid var(--my-bg-yellow);
  border-radius: 5px;
}

.graph-container {
  min-height: 25vh;
  min-width: 30rem;
}

.limit-width {
  max-width: 15rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.zonemint {
  background: var(--my-bg-gradient);
  border: 3px;
  border-width: 3px;
  border-radius: 10px;
}

.select-container {
  width: 10rem;
}

.btn {
  color: var(--my-text-color);
}

.btn-address {
  background: rgba(0, 0, 0, 0.1);
}

.btn:active:enabled {
  transform: translateY(2px);
}

.btn:hover {
  color: var(--my-text-color);
}

.btn:hover:enabled {
  box-shadow: 0 0 0 2px #1A5FEB;
  transition: 0.7s;
}

.btn-blue {
  background: rgba(0, 0, 0, 0.1);
}

.btn-yellow {
  background: var(--my-bg-yellow);
}


.parent-image {
  background: url('./images/option_24dp.svg') no-repeat;
  background-size:100% 100%;
  text-align: center;
  vertical-align: middle;
}

.Centerer
{
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.parent-image > img
{
    vertical-align: middle!important;
}

.rotate {
  animation: rotation 2s infinite linear;
  opacity: 0.8;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
